<!DOCTYPE html>
<html>
    <h1 align="center"  style="background-color:silver"><i> </i></h1>
<body >
<div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Admin View</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<p><li>@Html.ActionLink("Add Mobile" , "AddMobile" , "AdminView")</li></p>
 <br></br>
 
 <p><li>@Html.ActionLink("Delete Mobile" , "DeleteMobile" , "AdminView")</li></p>
 <br></br>
 <p><li>@Html.ActionLink("Search Mobile" , "SearchProduct" , "AdminView")</li></p>
    <br></br>
 <p><li>@Html.ActionLink("Update Mobiles" , "UpdateMobile" , "AdminView")</li></p>
    <br></br>
 <p><li>@Html.ActionLink("ViewCustomers" , "AllCustomers" , "AdminView")</li></p>
    <br></br>
 <br></br>
     <p><li>@Html.ActionLink("File Uploading" , "FileUploading" , "AdminView")</li></p>
<br></br>
</body>
</html>